# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Cache Files
/cache/
*.cache

# Composer
/vendor/
composer.lock

# Node.js
/node_modules/
package-lock.json

# WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/wp-cache-config.php

# Plugin specific
/wp-content/cache/cacher/ 